<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Add Ads</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
</head>
<body>

<header class="header">
  <div class="header__logo">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Paid Task" />
    <a href="{{ url_for('home') }}" class="header__title">Paid Task</a>
  </div>
  <div class="header__user">
    <p class="header__balance"><strong>{% if sald %}R$ {{ sald }}{% endif %}</strong></p>
    <a href="{{ url_for('profile') }}" class="nav__icon-link">
      <img src="{{ url_for('static', filename='img/profile.png') }}" alt="Perfil" />
    </a>
    <a href="{{ url_for('logout') }}" class="nav__logout">Sair</a>
  </div>
</header>

<main class="main">
  <section class="withdraw-form__section" style="max-width: 400px;">
    <h2 class="form__title">ADS - ADD</h2>

     <h3>Exemplo</h3>

      <code>
       

   &lt;script type=&quot;text/javascript&quot;&gt;
      atOptions = {
         'key' : 'ead261580b9d330171155e0fd50034f5',
         'format' : 'iframe',
         'height' : 300,
         'width' : 160,
         'params' : {}
      };
   &lt;/script&gt;
   <br>
   &lt;script type=&quot;text/javascript&quot; src=&quot;//www.highperformanceformat.<br>com/ead261580b9d330171155e0<br>fd50034f5/invoke.js&quot;&gt;&lt;/script&gt;
      </code>

    <form action="{{ url_for('add_ads') }}" method="post">
      <div class="form__group">
        <label class="form__label" >Content</label>
        <input type="text"  name="content" class="form__input">
      </div>

      <div class="form__group">
        <label class="form__label">Tipo</label>
        <select type="text" name="type" class="form__input"> 
            <option value="Banner">Banner</option>
            <option value="Social Bar">Social Bar</option>
            <option value="PopUp">PoP UP</option>
            <option value="Video">Video</option>
            <option value="NativeBanner">Native Banner</option>
            <option value="Generico">Generico</option>
        </select>
      </div>


      <button type="submit" class="btn" style="width: 100%; margin-top: 10px;">Add Ad</button>
    </form>
  </section>
</main>

</body>
</html>
